html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.background{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    display: table;
    top: 0;
    background-size: cover;
}

nav{
    top: 0px;
    height: 35px;
    width: 100%;
    background-color: rgba(209, 209, 209, 1);
    position: fixed;
    display: flex;
    justify-content: space-between;
}

ul li{
    display: inline-flex;
}

nav ul{
    list-style-type: none;
    margin: 7px;
    padding-left: 0px;
}

nav a, li p{
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
    padding-left: 10px;
    margin: 0;
}

/* --------- dock_footer --------*/
.dock_footer{
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 1100px;
    text-align: center;
    background-color: #aaa7aa;
    display: inline-flex;
}

.dock_footer img{
    height: 65px;
    margin-left: 10px;
}

/* ------------- hover ---------------*/
.hover img{
    height: 65px;
}

.hover{
    margin: 0;
    float:left;
    position:relative;
    cursor:pointer;
}

span{
    background:#aaa7aa;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -120px;
    left:-30px;
    display:none;
    padding:0 20px;
    
}
span:after{
    content:'';
    position:absolute;
    bottom:-5px; 
    width:10px;
    height:10px;
    background:#aaa7aa;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.hover:hover span{
    display:block;
}

